@import 'common';

* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

html, body {
	background: $body-background-color;
}

body {
	padding: 0;

	font-family: $font-family-sans-serif;
	font-size: $body-font-size;
	line-height: $body-line-height;
	color: $body-text-color;
}

a {
	color: $link-color;
	transition: color $transition-timing;

	&:hover { color: $link-color-hover; }
	&:active { color: $link-color-hover; }
}

.brand-logo  {
	display: inline-block;
	width: 39px;
	height: 52px;

	font-size: 1px;
	color: transparent;

	background: transparent url(../img/logo.svg) no-repeat center center;
	filter: drop-shadow(0 1px 10px rgba(#000, 0.1));
}

.alternate-container {
	background: #12234c;
}

@import 'app/typography';
@import 'app/tables';
@import 'app/buttons';
@import 'app/header';
@import 'app/footer';
