@import 'common';

pre, code {
	font-family: fira-code, monospace;
}

.code {
	padding: 6px 15px;

	color: #625682;

	background: #f9f9f9;
	border: 1px solid #eee;
	border-radius: 8px;
}

	.code-keyword {
		color: $accent-color;
	}

	.code-func {
		color: #328eff;
	}

	.code-string {
		color: #129c9a;
	}
