@import 'common';

$docs-border-color: #e6e7e9;

.footer {
	background: #fff;
	box-shadow: 0 -2px 0 0 #e6e7e9;
}


.docs {
	display: flex;
	padding-top: 30px;
}

	.docs-navigation {
		width: 160px;
		padding-bottom: 100px;
		border-right: 2px solid $docs-border-color;

		h5 {
			margin-bottom: 18px;
			font-size: 10px;
			color: #949bad;
			text-transform: uppercase;
		}

		li {
			line-height: 13px;

			+ li, > ul {
				margin-top: 10px;
			}

			ul {
				padding-left: 4px;
			}
		}
	}

	.docs-navigation-active {
		&:before {
			display: inline-block;
			width: 5px;
			height: 13px;
			margin-right: 8px;

			vertical-align: top;

			background: transparent url(../img/navigation-active-indicator.svg) no-repeat center 2px;
			content: '';
		}
	}

	.docs-content {
		position: relative;
		width: 620px;
		padding: 0 0 100px 60px;

		h2 {
			padding: 60px 0 0 60px;
			margin: 60px 0 18px -60px;

			border-top: 2px solid $docs-border-color;
		}

		img {
			max-width: 100%;
		}

		p, pre, ul, ol, table {
			& + p, & + pre, & + ul, & + ol, & + table {
				margin-top: 20px;
			}
		}

		ol, ul {
			list-style-position: inside;

			li {
				display: list-item;
				list-style: inherit;
			}
		}

		ol {
			list-style-type: decimal;
		}

		ul {
			list-style: none;

			li {
				padding-left: 20px;

				&:before {
					display: inline-block;
					width: 5px;
					height: 8px;
					margin-right: 15px;
					margin-left: -20px;

					vertical-align: baseline;

					background: transparent url(../img/ul-icon.svg) no-repeat center center;
					content: '';
				}
			}
		}

	}

	.docs-content-edit {
		position: absolute;
		top: 0;
		right: 0;

		font-size: 12px;
		line-height: 28px;

		color: rgba(#949bad, 0.5);
	}

.docs-nowrap {
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;
}

	th {
		&.docs-nowrap {
			width: 100%;
		}
	}

	td {
		&.docs-nowrap {
			max-width: 1px;
		}
	}
