{% extends 'layout/app.njk' %}

{% scss 'welcome' %}
{% scss 'code' %}
{% style 'https://s3.amazonaws.com/assets.grind.rocks/docs/css/fira_code.css' %}

{% block content %}
	<div class="welcome">
		<div class="welcome-body">
			<h1 class="welcome-header">Welcome to Grind</h1>
			<p class="welcome-lead">Grind is an opinionated Node web framework that brings together popular packages in an easy to use framework to provide a solid foundation for you to build your apps on, without reinventing the wheel.</p>
		</div>
		<div class="welcome-code">
			{% include 'welcome/code.njk' %}
		</div>
	</div>
{% endblock %}
