.btn {
	position: relative;

	display: inline-block;
	height: 36px;
	padding: 0 15px;

	font-size: 15px;
	font-weight: $font-weight-medium;
	line-height: 40px;
	color: #fff;
	cursor: pointer;

	background-image: linear-gradient(-180deg, #4c82ff 0%, #3b70ed 100%);
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(#000, 0.15);

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;

		display: block;
		width: 100%;
		height: 100%;

		background: #000;
		border-radius: 6px;
		content: '';
		opacity: 0.0;

		transition: opacity 0.2s ease;
	}

	&:hover, &:active {
		color: #fff;

		&::before {
			opacity: 0.08;
		}
	}
}

	.btn-info {
		background-image: linear-gradient(-180deg, #5c5c68 0%, #494851 100%);
	}

	.btn-icon {
		display: inline-block;
		vertical-align: baseline;
		background: transparent none no-repeat center center;
	}

		%btn-icon-chevron {
			width: 6px;
			height: 10px;
			margin-left: 10px;
			background-image: url(../img/button-chevron-right.svg);
		}

		.btn-icon-chevron-right {
			@extend %btn-icon-chevron;
		}

		.btn-icon-chevron-down {
			@extend %btn-icon-chevron;

			transform: rotate(90deg);
		}

	.btn-actions-trigger {
		display: none;
	}

	.btn-actions {
		position: absolute;
		top: 100%;
		right: 0;

		display: block;
		margin-top: 15px;

		font-size: 13px;
		font-weight: $font-weight-normal;
		line-height: 36px;
		color: #1d1c1f;
		pointer-events: none;
		cursor: default;

		background-image: linear-gradient(-180deg, #fafcff 0%, #f8faff 100%);
		border-radius: 6px;
		opacity: 0.0;
		transform: scale(0.7, 0.7) translate(-5px, -20px);
		transform-origin: top right;
		transition: opacity 0.2s ease, transform 0.2s ease;
		box-shadow: 0 1px 2px 0 rgba(#000, 0.15);

		:checked ~ & {
			pointer-events: auto;
			opacity: 1.0;
			transform: scale(1.0, 1.0);
		}
	}

		.btn-action {
			display: block;
			height: 33px;
			padding: 0 15px;
			margin: 0;

			& + & {
				height: 34px;
				border-top: 1px solid rgba(#000, 0.05);
			}

			&:first-child {
				border-top-right-radius: 6px;
				border-top-left-radius: 6px;
			}

			&:last-child {
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
			}
		}

			.btn-action-link {
				display: block;
				height: 33px;
				padding: inherit;
				margin: 0 -15px;
				border-radius: inherit;

				&:hover {
					background: #f5f8ff;
				}
			}
