$header-padding-top: 100px;

.header {
	display: block;
	width: 100%;
}

	.header-container {
		position: relative;
		height: $header-height;
		line-height: $header-height;
	}

		.header-background {
			position: absolute;
			top: -20px;
			left: -50px;

			width: 360px;
			height: 240px;

			pointer-events: none;
			background: transparent url(../img/header-background.svg) no-repeat top left;
		}

		.header-background-mirror {
			left: -410px;

			background-image: url(../img/header-background-mirror.svg);
			background-position: top right;
		}

	.header-logo, .header-link {
		text-decoration: none;
	}

	.header-logo {
		position: relative;
		z-index: 1;

		margin-right: 50px;
		vertical-align: middle;
	}

	.header-links {
		position: relative;
		z-index: 1;

		display: inline-block;
		vertical-align: middle;
	}

		.header-link {
			display: inline-block;

			font-size: 15px;
			color: #494850;

			& + & {
				margin-left: 20px;
			}
		}

			.header-link-active {
				font-weight: 500;
				color: #494850;
			}

	.header-cta {
		position: relative;
		z-index: 1;

		float: right;
		margin-top: 36px;
	}
