table {
	max-width: 100%;

	font-size: 13px;

	background: #fff;
	border-radius: 6px;
	box-shadow: 0 1px 3px 0 rgba(#000, 0.19);
}

%table-cell {
	border-right: 1px solid rgba(#e6e7e9, 0.5);

	&:last-child {
		border-right: 0;
	}
}

th {
	@extend %table-cell;

	padding: 16px 20px 13px;
	white-space: nowrap;
	border-bottom: 2px solid #d7d9dd;
	text-align: left;

	&:last-child {
		width: 100%;
	}
}

td {
	@extend %table-cell;

	padding: 8px 20px;
	text-align: left;

	&:last-child {
		white-space: nowrap;
		max-width: 1px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
