p, ul, ol {
	margin: 0;

	font-size: 13px;
	font-weight: $font-weight-normal;
	line-height: 26px;
}

li + li {
	margin-top: 2px;
}

%header, .header {
	margin: 0 0 20px;

	font-weight: $font-weight-medium;
	color: #1d1c1f;

	&:first-child {
		margin-top: 0;
	}
}

.header-anchor {
	&, &:hover, &:active {
		color: inherit;
	}
}

h1 {
	@extend %header;

	margin-top: 60px;
	font-size: 20px;
}

h2 {
	@extend %header;

	margin-top: 50px;
	font-size: 17px;
}

h3, h4, h5 {
	@extend %header;

	margin-top: 40px;
	font-size: 15px;
}

h4 {
	font-size: 13px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}

blockquote {
	position: relative;
	padding: 14px 12px 11px 20px;

	margin: 20px 0 20px 4px;

	background: #fff;
	border-radius: 0 6px 6px 0;
	box-shadow: 0 1px 3px 0 rgba(#000, 0.19);

	> p > strong:first-child {
		display: block;
		margin-bottom: 3px;

		font-size: 10px;
		font-weight: $font-weight-medium;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&:before {
		position: absolute;
		top: 0;
		left: -4px;

		display: block;
		width: 4px;
		height: 100%;

		background: #e6e7e9;
		content: '';
	}
}

	.blockquote-tip, .blockquote-note {
		padding-left: 45px;

		color: #fff;
		background: url(../img/blockquote-indicator.svg) no-repeat 20px 20px;
	}

	.blockquote-tip {
		background-color: #4d7bff;

		&:before {
			background-color: #2752ce;
		}

		a {
			color: rgba(#fff, 0.5);
		}
	}

	.blockquote-note {
		background-color: #ea7945;

		&:before {
			background-color: #b7420c;
		}

		a {
			color: rgba(#000, 0.5);
		}
	}

pre, code {
	margin: 0;
	font-family: 'Fira Code', monospace;
}

p, li {
	code {
		display: inline-block;
		padding: 0 6px;

		font-size: 13px;
		color: #513cf5;

		background: #fafafa;
		border: 1px solid #e6e7e9;
		border-radius: 4px;

		blockquote & {
			margin: 0 4px;

			color: #14145a;

			background: #fff;
			border: 0;
			border-radius: 3px;
			box-shadow: 0 1px 2px 0 rgba(#000, 0.2);
		}
	}
}

hr {
	display: block;
	height: 1px;
	margin: 60px 0;

	background: #e6e7e9;
	border: 0;
}
