.btn {
	position: relative;

	display: inline-block;
	height: 36px;
	padding: 0 15px;

	font-size: 15px;
	font-weight: $font-weight-medium;
	line-height: 36px;
	color: $color-white;
	cursor: pointer;

	background-image: linear-gradient(-180deg, $button-color-primary-start 0%, $button-color-primary-end 100%);
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba($color-black, 0.15);

	&:hover, &:active {
		color: $color-white;
	}
}

	.btn-info {
		background-image: linear-gradient(-180deg, $button-color-secondary-start 0%, $button-color-secondary-end 100%);
	}

	.btn-icon {
		display: inline-block;
		vertical-align: middle;
		background: transparent none no-repeat center center;
	}

		.btn-icon-chevron-right {
			width: 6px;
			height: 10px;
			margin-left: 10px;
			background-image: url(../Static/img/button-chevron-right.svg);
		}
