grind.rocks {
	root /apps/grind.rocks/public

	git github.com/grindjs/docs {
		hook        /hooks/deploy-docs {$DOCS_SECRET}
		hook_type   github
		branch      master
		key         /apps/.ssh/id_rsa
		path        ../resources/docs/master
		interval    -1
	}

	git github.com/grindjs/docs {
		hook        /hooks/deploy-docs {$DOCS_SECRET}
		hook_type   github
		branch      0.6
		key         /apps/.ssh/id_rsa
		path        ../resources/docs/0.6
		interval    -1
	}

	git github.com/grindjs/docs {
		hook        /hooks/deploy-docs {$DOCS_SECRET}
		hook_type   github
		branch      0.5
		key         /apps/.ssh/id_rsa
		path        ../resources/docs/0.5
		interval    -1
	}

	git github.com/grindjs/site {
		hook        /hooks/deploy {$SITE_SECRET}
		hook_type   github
		branch      production
		key         /apps/.ssh/id_rsa
		path        ../
		interval    -1
		then        yarn install
		then        bin/build
		then        bash -c "NODE_ENV=production bin/cli assets:publish"
		then        bash -c "NODE_ENV=production bin/cli view:cache"
		then        sudo supervisorctl restart grind-rocks
	}

	header /css Cache-Control "max-age=31536000;"
	header /img Cache-Control "max-age=31536000;"
	header /js Cache-Control "max-age=31536000;"

	rewrite / /proxy

	rewrite {
		to {path} /proxy/{uri}
	}

	proxy /proxy localhost:3900 {
		without /proxy
		except /hooks/deploy
		except /hooks/deploy-docs
		transparent
	}
}

www.grind.rocks {
	redir https://grind.rocks{uri}
}

docs.grind.rocks {
	redir https://grind.rocks{uri}
}
