.devbar, .devbar-panel {
	color: #24292e;
	background: #f6f8fa;
	border-top: 1px solid #d1d5da;
}

.devbar > * {
	box-sizing: border-box;
}

.devbar {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99999999;

	display: block;
	width: 100%;

	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	line-height: 1.6em;
}

	.devbar-code {
		font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	}

	.devbar-items {
		display: block;
	}

		.devbar-item {
			float: left;
			padding: 8px 12px;

			border-right: 1px solid #d1d5da;
		}

			.devbar-item-right {
				float: right;

				border-left: 1px solid #d1d5da;
				border-right: none;
			}

			.devbar-item-label {
				display: block;
				cursor: pointer;
			}

			.devbar-item:focus {
				color: #0366d6;
				background: #ddeeff;
			}

			.devbar-item:focus .devbar-panel {
				display: block;
			}

	.devbar-panel {
		position: absolute;
		left: 0;
		bottom: calc(100% + 1px);

		display: none;
		width: 100%;
		max-height: 80vh;
		overflow-y: auto;

		background: #fff;
	}

	.devbar-timeline {

	}

		.devbar-timeline-item, .devbar-messages-item {
			position: relative;

			display: block;
			padding: 8px 15px;

			line-height: 20px;
		}

			.devbar-timeline-item:hover {
				background: #f6f8fa;
			}

			.devbar-timeline-item + .devbar-timeline-item,
			.devbar-messages-item + .devbar-messages-item {
				border-top: 1px solid #eaecef;
			}

			.devbar-timeline-item-duration-bar {
				position: absolute;
				top: 0;
				z-index: 0;

				height: 100%;

				border-top: 2px solid #0366d6;
				background: #ddeeff;
			}

			.devbar-timeline-item-label, .devbar-timeline-item-duration-label {
				position: relative;
				z-index: 1;
			}

	.devbar-messages {

	}

		.devbar-messages-item-duration, .devbar-timeline-item-duration-label {
			font-size: 12px;
			color: #f66a0a;
		}
