{% extends 'layout/master.njk' %}

{% scss 'app' %}

{% block contentBefore %}
	<header class="header">
		<div class="container header-container">
			{{ html.linkRoute('welcome.show', 'Grind', null, { class: 'header-logo' }) }}

			<nav class="header-links">
				<a href="https://github.com/grindjs" class="header-link">GitHub</a>
				<a href="https://grind.readme.io/docs" class="header-link">Docs</a>
			</nav>
		</div>
	</header>
{% endblock %}

{% block contentAfter %}
	<footer class="footer">
		<div class="container footer-container">
			<span class="footer-text">Grind was created by <a href="https://github.com/shnhrrsn">Shaun Harrison</a> and is made available under the MIT license.</span>
		</div>
	</footer>
{% endblock %}
