@import 'App/Styles/Common';

.welcome {
	margin: 100px 0;
	font-size: 0;
}

	.welcome-body {
		display: block;
		width: 500px;
		margin: 0 auto;
		text-align: center;
	}

		.welcome-header {
			margin: 0 0 10px;

			font-size: 50px;
			font-weight: $font-weight-bold;
			letter-spacing: -1px;
		}

		.welcome-lead {
			margin: 0;

			font-size: 15px;
			line-height: 26px;
			color: $color-muted;
		}

	.welcome-code {
		display: block;
		width: 420px;
		margin: 60px auto 0;

		font-size: 15px;

		border-radius: 6px 6px 4px 4px;
		box-shadow: 0 0 2px 0 rgba($color-black, 0.12),
					0 0 0 1px rgba($color-black, 0.03),
					0 4px 26px 0 rgba($color-black, 0.1),
					0 4px 14px 0 rgba($color-black, 0.3);
	}

		.welcome-code-toolbar {
			position: relative;
			z-index: 1;
			display: block;
			height: 38px;
			padding-left: 5px;

			line-height: 40px;

			background-image: linear-gradient(-179deg, $toolbar-color-background-start 0%, $toolbar-color-background-end 100%);
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			box-shadow: 0 1px 0 0 rgba($color-black, 0.10),
						0 1px 1px 0 rgba($color-black, 0.20);
		}

			.welcome-code-toolbar-button {
				display: inline-block;
				width: 12px;
				height: 12px;
				margin-left: 8px;

				vertical-align: middle;

				background: $toolbar-color-button-red;
				border-radius: 50%;
				box-shadow: inset 0 0 0 1px rgba($color-black, 0.10);

				& + & { background: $toolbar-color-button-yellow; }
				& + & + & { background: $toolbar-color-button-green; }
			}

	.welcome-buttons {
		margin-top: 30px;
	}

		.welcome-button {
			& + & {
				margin-left: 20px;
			}
		}
