{
	"presets": [ "es2016-node5", "stage-1" ],
	"plugins": [
		"babel-plugin-import-auto-name",
		"babel-plugin-transform-isnil",
		[
			"babel-plugin-module-alias", [
				{ "src": "./app", "expose": "App" },
				{ "src": "./boot", "expose": "Boot" }
			]
		]
	]
}
