<pre class="code"><code><span class="code-keyword">export function</span> <span class="code-func">RoutesProvider</span>(app) {
   app.routes.<span class="code-func">get</span>(<span class="code-string">'/'</span>, (req, res) => {
      res.<span class="code-func">render</span>(<span class="code-string">'welcome.show'</span>, {
         <span class="code-string">name:</span> <span class="code-string">'Grind'</span>
      })
   }).<span class="code-func">as</span>(<span class="code-string">'welcome.show'</span>)
}</code></pre>
