$body-font-size: 16px;
$body-line-height: 1.428571429;
$body-text-color: #4b4a4f;
$body-background-color: #fff;

$accent-color: #3a70f4;
$link-color: $accent-color;
$link-color-hover: darken($link-color, 5%);
$link-color-active: darken($link-color, 10%);

$font-weight-thin: 100;
$font-weight-ultra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;

$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;
$transition-timing: $transition-duration $transition-timing-function;

$header-height: 112px;
$header-z-index: 10000;
$header-background-color: rgba($body-background-color, 0.8);

$footer-height: 208px;
$footer-z-index: $header-z-index - 1;
$footer-background-color: rgba($body-background-color, 0.8);
