@import 'common';

pre, code {
	margin: 0;
	font-family: 'Fira Code', monospace;
}

.code {
	padding: 30px;
	color: #555;
}

	.code-keyword {
		color: #5520ff;
	}

	.code-func, .code-param, .code-object {
		color: #5d99ff;
	}

	.code-string {
		color: #00d8ff;
	}
